.content
  position: fixed
  top: 0
  left: 300px
  width: calc(100% - 300px)
  &-page
    padding: 0 50px 50px
    overflow-y: scroll
    height: calc( 100vh - 80px )
.scroll
  //position: fixed
  //overflow-y: hidden
  // height: 50vh

.publish
  &-text
    font-family: Roboto, sans-serif
    font-size: 1.88rem
    font-weight: 300
    font-style: italic
    padding-bottom: 50px
    margin-bottom: 50px
    border-bottom: 1px solid $color-backoffice-light
    color: $color-backoffice-light
    &:last-child
      margin-top: 60px
      padding-top: 30px
      margin-bottom: 0
      padding-bottom: 0
      border-top: 1px solid $color-backoffice-light
      border-bottom: none

@include media(tablet)
  .content
    width: calc(100% - 175px)
    left: 175px
    &-page
      padding: 0 30px 30px
      height: calc( 100vh - 50px )
  .publish
    &-text
      padding-bottom: 30px
      margin-bottom: 30px
      &:last-child
        margin-top: 30px
        padding-top: 15px

@include media(phone)
  .content
    width: 100%
    left: 0
    &-page
      padding: 0 10px 10px
      height: calc( 100vh - 30px )
  .publish
    &-text
      padding-bottom: 20px
      margin-bottom: 20px
      &:last-child
        margin-top: 30px
        padding-top: 20px