*
  color: inherit
html
  font-family: $font-roboto
  color: $color-black
#app
  max-width: 1920px
  margin: 0 auto
button
  border: none
  background-color: inherit
  &:hover
    cursor: pointer
b
  font-weight: 700
