.header
  height: 0
  border-bottom: .5px solid $color-palomita
  padding-top: 100px
  margin-bottom: 100px
  color: $color-palomita
  & .categorie
    font-family: $font-playfair
    text-transform: uppercase
    font-weight: 700
    position: absolute
    bottom: .2rem
  & .info
    position: absolute
    right: 0
    bottom: -1.5rem
    font-style: italic
  & .number
    font-weight: 700
    font-style: normal

@include media(mid)
  .header
    padding-top: 75px
    margin-bottom: 75px
@include media(sml)
  .header
    padding-top: 50px
    margin-bottom: 50px
@include media(phone)
  .header
    padding-top: 40px
    margin-bottom: 40px
@include media(phonexs)
  .header
    padding-top: 30px
    margin-bottom: 30px