.lazyload
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  background-color: lightgray
  &>.text
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    display: inline-block
    color: white
    font-size: 2rem
  &>.image
    transition: opacity 1s linear

