.menu
  width: 300px
  &-title
    padding-top: 20px
    text-align: center
    font-size: 1.88rem
    font-family: Georgia, serif
    line-height: 1.7rem
  &-subtitle
    font-size: .88rem
    font-family: Roboto, sans-serif
    font-weight: 300
  &-avatar
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: $color-backoffice-light
    margin: 30px auto 0

.menu-dark
  background-color: $color-backoffice
  color: $color-white