.navbar
  font-size: 1.56rem
  font-family: Roboto, sans-serif
  font-weight: 700
  &-number
    font-weight: 400
    font-style: italic
  &-item
    display: inline
    margin-left: 1.56rem

.navbar-light
  color: $color-black
  & .navbar
    &-link
      color: $color-backoffice-light
