.navbar
  font-size: 1.56rem
  font-family: Roboto, sans-serif
  font-weight: 700
  &-number
    font-weight: 400
    font-style: italic
  &-item
    display: inline
    margin-left: 1.56rem
    &:hover
      cursor: pointer
  &-showall
    font-weight: 300
    font-size: .8rem
    font-style: italic
  &-newcomments
    font-size: 1rem

.navbar-light
  color: $color-black
  & .navbar
    &-selected
      color: $color-backoffice-light
      border-bottom: 4px solid $color-backoffice-light
